
:root {

	--pb-app-bar-height: 5vh;

	/* Colors */
	--caretaker-red: #ed2426;
    --b-solid-std: #CCC;
	--bg-selection-light: #cccccc;
}


* {
	box-sizing: border-box;
	background: none;
	background-color: none;  
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

html, 
body,
main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	display: block;
}

/*====> Classes */

.color-white {
    color: white;
}

/* Dummy root class to provide specificity needed to override other styles. */

.pb * {
	-is-pb: 1;
}

.pb.bg-caretaker-red {
	background-color: var(--caretaker-red);
}

.pb.app-bar {
    height: var(--pb-app-bar-height);
    max-height: var(--pb-app-bar-height);
    margin: 0;
    background-color: var(--caretaker-red);
}

.pb.app-bar-img {
    max-width: 5rem;
    display: inline;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.pb.app-bar-img > img {
    text-align: center;
    max-width: 100%;
	max-height: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.pb.app-bar-title {
    min-width: 5rem;
    align-content: center;
}

.pb.app-bar-title > p {
    text-align: left;
    max-width: 25rem;
}

.pb.app-bar-title > p > a {
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 500;
}

.pb.app-menu {
    min-width: 4rem;
    width: 4rem;
    max-width: 4rem;
}

.pb.app-menu div.MuiPaper-root {
    background-color: #FFF;
}

.pb.app-menu > div {
    height: 100%;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0.075rem 0 0;
    border-color: var(--b-solid-std);
    padding: 0.1rem;
}

.pb.app-menu div.app-menu-box {
    text-align: center;
}

.pb.app-menu button.app-menu-item {
    min-width: 2.75rem;
    min-height: 2.75rem;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: var(--b-solid-std);
    margin: 0.25rem;
    padding: 0.25rem;
}

.pb.app-menu button.app-menu-item a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
}

.pb.app-menu button.app-menu-item a > svg {
    height: 100%;
}

div.pb.app-menu-drawer {
    min-width: 16rem;
    width: 16rem;
    text-align: center;
}

div.pb.app-menu-drawer button.app-menu-drawer-item {
    border-radius: 0.5rem;
    /* min-width: 4rem; */
    min-height: 3rem;
    /* width: 4rem; */
    height: 3rem;
    margin: 0.25rem;
    width: 100%;
}

div.pb.app-menu-drawer button.app-menu-drawer-item a {
    text-decoration: none;
    color: inherit;
    text-align: left;
    width: 100%;
    display: inline-flex;
}

div.pb.app-menu-drawer button.app-menu-drawer-item p {
    width: 100%;
    text-align: left;
    margin-left: 1rem;
}

/*===== Utilities ======*/

.pb.d-flex {
    display: flex;
}

.pb.flex-column {
    flex-direction: column;
}

.pb.flex-row {
    flex-direction: row;
}

.pb.flex-fill {
    flex: 1 1 auto;
}

/*<===== */